<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <th:block th:each="auto : ${autos}">
        <th:block th:if="${(auto.duenio != null) AND (auto.patente != null)}">
            <span th:text="${auto.duenio}+'|'+${auto.patente}"></span>
        </th:block>
    </th:each>
</body>
</html>
